.title-center {
  margin-left: 160px;
  font-display: inherit;
  text-align: center;

}

.header-color {
  background-color: rgb(139, 31, 130);
  color: aliceblue;

}
.addOrgButton {
  background-color: rgb(35, 207, 72);
  color: aliceblue;
  margin-left: 400px;
}
.doneButton {
  background-color:green;
  color: aliceblue;
  margin-left: 520px;
}
.container{
  margin-right: 0px;
  margin-left:  0px;

}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: whitesmoke;
  font-size: medium;
}
.menu-items{

}
.spacer{
  flex: 1 1 auto;

}
