<mat-card class="card">
  <form (submit)="onAddPost(postForm)" #postForm="ngForm" class="items">
    <mat-form-field class="items">
      <input
        matInput
        type="text"
        name="name"
        ngModel
        required
        placeholder="Organization Name"
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter the name of the Organization</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="items">
      <textarea
        matInput
        rows="4"
        name="description"
        ngModel
        placeholder="Description"
        #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter a Description.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="items">
      <input
        matInput
        name="picture"
        ngModel
        placeholder="Picture URL"
        #picture="ngModel">
    </mat-form-field>
    <br>
    <button
      mat-raised-button class="button"
      type="submit">Add</button>
  </form>
</mat-card>
