mat-form-field,
textarea {
  width: 100%;
  
}
mat-card{
  height: 500px;
  width: 100%;
}

.container{
  margin-left: 535px;
  background-color:thistle;
  margin-top: 20px;
  padding-top:15px;
  padding-bottom: 15px;
  width: 400px;
}


.image{
  width:200px;
  height:180px;
  margin-left: 60px;
}
