<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="name"
        [ngModel]="post?.name"
        required
        placeholder="Name"
        minlength="3"
        #name="ngModel">
      <mat-error *ngIf="name.invalid">Please enter the Organization Name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="description"
        [ngModel]="post?.description"
        placeholder="Description"
        required
        #description="ngModel"></textarea>
      <mat-error *ngIf="description.invalid">Please enter a description of the Organization.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="picture"
        [ngModel]="post?.picture"
        placeholder="Picture URL"
        minlength="3"
        #picture="ngModel">
      <mat-error *ngIf="picture.invalid">Please type a Picture URL .</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      class="addOrgButton"
  
      type="submit">Save Organzation</button>
      <button
      mat-raised-button
      color="warn"
      [routerLink]="['/orglist']"
      class="warnButton"
      type="submit">Cancel</button>
  </form>
<!-- <button mat-raised-button class="button" [routerLink]="['/orglist']" routerLinkActive="router-link-active" >Done</button> -->
</mat-card>

<div *ngIf="router.url!='/orgcreate'">
<mat-card>
Current Members
</mat-card>
<mat-card>
Requests
</mat-card>
</div>