mat-form-field,
textarea {
  width: 100%;
}

.addOrgButton{
  background-color: rgb(184, 50, 184);
  color: aliceblue;

  }
  .button{
    background-color: green;
    color: aliceblue;
    margin-left:15px;
    margin-top: 10px;
  }
