<div class="container">
    <mat-card>
        <form>

            <img class="image" style="margin-top:2px; margin-left:20px ;" mat-card-image [src]="imagepath">
            <br>
            <button style="margin-left:20px;  background-color: rgb(178, 212, 145);" mat-raised-button
                (click)="filePicker.click()">Choose Image</button>
            <input type="file" name="image" style="margin-left:20px ;" (change)="selectImage($event)" #filePicker />
            <br>
            <br>
            <button color="primary" style="margin-left:20px ;" mat-raised-button type="submit">Upload</button>
            <br>
            <br>

            <mat-form-field style="margin-left:20px ; width: 200px;">
                <input matInput [ngModel]="username" type="text" name="email" placeholder="Email Id" #email="ngModel">
            </mat-form-field>

            <div *ngIf="userId !='5dcdfbc72b62ec465537226f'">
                <mat-list>
                    <mat-list-item>Club President</mat-list-item>
                </mat-list>
                <mat-accordion multi="true" *ngFor="let president of presidents " >
                    <mat-expansion-panel style=" background-color:thistle;">
                        <mat-expansion-panel-header style=" color:black; font-weight: bold ;">
                            {{president?.organization}}
                        </mat-expansion-panel-header>
                        <mat-action-row>
                            <button mat-button (click)="onLeave(president?.organization)"
                                style=" background-color: rgb(182, 22, 22);  color: whitesmoke;">Leave</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
                <mat-list>
                    <mat-list-item>Club Memberships</mat-list-item>
                </mat-list>
                <mat-accordion multi="true" *ngFor="let club of clubs " title="Club Membership">
                    <mat-expansion-panel style=" background-color:thistle;">
                        <mat-expansion-panel-header style=" color:black; font-weight: bold ;">
                            {{club?.organization}}
                        </mat-expansion-panel-header>
                        <mat-action-row>
                            <button mat-button (click)="onUnsubscribe(club.organization)"
                                style=" background-color: rgb(182, 22, 22);  color: whitesmoke;">Unsubscribe</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>


        </form>
    </mat-card>
</div>